.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
   
}

.para {
    color: white;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}